<!DOCTYPE html>
<html lang="en">


    <body>
        <%- include('./partials/header') %>
            <h1>a</h1>


            <% const a='bonjour' %>
                <%= a %>


                    <% array.forEach(element=> { %>
                        <article>

                        <h1><%= element.title %> </h1>

                        <h4> <%= element.summary %></h4>    

                        <h6><%= element.body %> </h6>
                        <a href="/nn/<%= element.id%>">plus de details</a>

                        </article>
                        

                            <% }); %>



                        <%- include('./partials/footer') %>
    </body>

</html>